.header-box{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #02162c;
    margin: 0 auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.main {
    padding: 15px;
}

.logo{
    width: 105px;
    height: 100px;
    margin-left: 10px;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 80px;
    position: relative; 
    margin-left: 80px;
    
}

.navbar ul li a{
    text-decoration: none;
    color: #fdce00;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 17px;
    padding: 10px 20px;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fdce00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/* Body */
body{
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.5);
    background-image: url(https://www.usatoday.com/gcdn/presto/2020/10/30/USAT/fe8c567e-43ad-4bc4-9e22-e45a70c83342-GettyImages-157649192.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten;
}
form{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}
h1, p{
    margin: 0;
    padding: 0;
}
input{
    padding-left: 0.5rem;
    height: 2rem;
}
input[type=submit]{
    margin: 0 25% 0 25%;
}


.form-container{
    padding: 1rem;
    position: relative;
    margin: 5% 20% 0 20%;
    background-color: white;
}
.header{
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.readonly-input{
    border-radius: 1px;
    border: 1px solid rgb(199, 199, 199);
    background-color: #f8f8f8;
    color: grey;
    pointer-events: none;
    cursor: not-allowed;
}

.homebutton{
    background-color: #d6d6d6;
    color: #011830;
    height: 3vh;
    width: 47.4%;
    padding: 0 2px;
    border-radius: 1px;
    margin-right: 2px;
    position: relative;
    left: 26.3%;
    top: 12%;
    border: 1px solid #959595;
    transition: background-color 0.3s;
    
}

.homebutton:hover {
    background-color: #dcdcdc;
    left: 25%;
}

.quotebutton{
    height:30px;
    width:700px;
    justify-content: center;
    margin-left: 12%;
}

.submitbutton{
    height:30px;
    width:700px;
    justify-content: center;
    margin-left: 12%;
    margin-top: 10px;
}
